* {
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 800px;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;



}

.child {
    width: 100px;
    height: 100px;
    background: yellow;
    margin: 10px;

}

.child1 {
    width: 150px;
    height: 150px;
    background: green;


}

.child2 {
    width: 200px;
    height: 100px;
    background: blue;

}
